<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    
    <p class="lead">An Excellent Christian is supposed to be well versed in the word of God. <p class ="lead">Our Counsel to you now and
      always is to continuously study to show yourself approved to God,
      lay new foundations and repair old ones, continue to trim your lamps and get ready for the soon return of our Master.
      This Sunday School year is expected to be a year of firm and dedicated study.</p>
      <p class ="lead">This year's manual is a compilation of sound biblical doctrines.
      Our personal goal should be to study the Bible to discover the treasures in it.</p>
      <p class="lead">
      Welcome to this glorious Sunday School year.
      <br>Pastor E. A. Adeboye
      General Overseer, RCCG</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "quiz/footer.html" %}
</body>

</html>
